.App {
  font-family: 'Rubik', sans-serif;
  color: #78909c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: linear-gradient(
    135deg,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%
  );

  /* Experimenting with animated lienar gradient */
  background-size: 200% 100%;
  animation: gradient 20s ease-in-out alternate infinite;
}

@keyframes gradient {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
