*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #78909c;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  background: linear-gradient(
    135deg,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%
  ); */

  /* background-size: 200% 100%;
  animation: gradient 20s ease-in-out alternate infinite; */
}

.Container {
  max-width: 1280px;
  margin: 0 auto;
  max-height: 100vh;
  /* overflow: hidden; */
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .App {
    flex-direction: column;
    align-items: flex-start;
  }
}

@keyframes gradient {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}
